<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Members</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/member/baseStyle.css"/>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<div layout:fragment="content">
    <div id="buttons_container">
        <div class="btn-group" id="select_member">
            <button type="button" class="btn btn-black" onclick="location.href='/member/all'">전체</button>
            <button type="button" class="btn btn-black" onclick="location.href='/member/attend'">재학생</button>
            <button type="button" class="btn btn-black" onclick="location.href='/member/graduate'">졸업생</button>
            <button type="button" class="btn btn-black" onclick="location.href='/member/dormant'">휴학생</button>
        </div>
        <div class="btn-group" id="change_member">
            <button type="button" class="btn btn-black" id="delete_members">삭제</button>
            <button type="button" class="btn btn-black" onclick="location.href='/member/add'">추가</button>
        </div>
    </div>

    <script>
        $("#delete_members").click(function(e) {
            {
                //jsonArray
                var members = new Array();
                var checkbox = $("input[name=collectedMember]:checked");

                checkbox.each(function (i) {
                    var tr = checkbox.parent().parent().eq(i);
                    var td = tr.children();
                    var form = td.children();
                    var input = form.children();

                    var email = td.eq(5).text();
                    var phone = td.eq(4).text();
                    var name = input.val();
                    var cardinalNumber = Number(td.eq(1).text());

                    var member = new Object();

                    member.email = email;
                    member.phone = phone;
                    member.name = name;
                    member.cardinalNumber = cardinalNumber;

                    members.push(member);
                    console.log(members)
                });
                if(members.length == 0){
                    members = ""
                }
                $.ajax({
                    type: "POST",
                    url: "/members/delete",
                    data: {
                        "members": JSON.stringify(members)
                    },
                    success: function (result) {
                        console.log('ok');
                        if(result == "success"){
                            alert("삭제되었습니다.");
                            setTimeout(
                                function()
                                {
                                    location.reload();
                                }, 0001);
                        }
                        else{
                            alert(result);
                        }
                    },
                    error: function (result) {
                        console.log('error');
                    }

                });
            }
        });
    </script>



    <div id="search_container">
        <form action="/members" method="post">
            <div id="filter">
                <select class="form-control" name="filter">
                    <option value="cardinalNumber">기수</option>
                    <option value="name">이름</option>
                    <option value="position">직책</option>
                    <option value="phone">전화번호</option>
                    <option value="email">이메일</option>
                </select>
            </div>
            <div id="search_member_div">
                <input class="form-group" type="search" id="search_member" name="q">
                <button class="btn btn-black">Search</button>
            </div>
        </form>
    </div>
    <div id="list_container">
        <table class="table table-hover">
            <tr id="info_type">
                <th></th>
                <th>기수</th>
                <th>이름</th>
                <th>직책</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>재학여부</th>
            </tr>
            <th:block th:each="member : ${members}">
                <tr>
                    <td/><input type="checkbox" name="collectedMember" th:value="${member.email}" />
                    <td th:text="${member.cardinalNumber}"/>
                    <!--<td th:text="${member.name}"/>-->
                    <td>
                        <form action="/member/update" method="get">
                            <input class="btn btn-white btn-xs" type="submit" th:value="${member.name}" />
                            <input type="hidden" th:value="${member.cardinalNumber}" th:attr="name='searchCardinalNumber'" />
                            <input type="hidden" th:value="${member.name}" th:attr="name='searchName'" />
                            <input type="hidden" th:value="${member.phone}" th:attr="name='searchPhone'" />
                            <input type="hidden" th:value="${member.email}" th:attr="name='searchEmail'" />
                        </form>
                    </td>
                    <td th:text="${member.position}"/>
                    <td th:text="${member.phone}"/>
                    <td th:text="${member.email}"/>
                    <td th:text="${member.attendingState}"/>
                </tr>
            </th:block>
        </table>

    </div>
</div>
</body>
</html>