<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>회원 수정</title>
</head>
<body>
<div class="main" layout:fragment="content">
    <form action="/member" method="post">
        <div class="container">
            <p>회원정보를 모두 입력하고 수정을 눌러주세요.</p>
            <hr>

            <label for="cardinalNumber"><b>기수</b></label><br>
            <input type="number" min="1" placeholder="Ex) 34" name="cardinalNumber" required><br>

            <label for="name"><b>이름</b></label><br>
            <input type="text" placeholder="Ex) 김명수" name="name" required><br>

            <label for="position"><b>직책</b></label><br>
            <select name="position" required>
                <option value="수습" selected>수습</option>
                <option value="준회원">준회원</option>
                <option value="정회원">정회원</option>
                <option value="준OB">준OB</option>
                <option value="OB">OB</option>
                <option value="회장">회장</option>
                <option value="부회장">부회장</option>
                <option value="회계">회계</option>
                <option value="학술부장">학술부장</option>
                <option value="섭외부장">섭외부장</option>
                <option value="서버관리자">서버관리자</option>
            </select><br>

            <label for="phone"><b>전화번호</b></label><br>
            <input type="text" placeholder="Ex) 010-1234-5678" name="phone" required><br>

            <label for="email"><b>이메일</b></label><br>
            <input type="email" placeholder="Ex) example@gmail.com" name="email" required><br>

            <label for="attendingState"><b>재학여부</b></label><br>
            <select name="attendingState">
                <option value="재학" selected>재학</option>
                <option value="휴학">휴학</option>
                <option value="졸업">졸업</option>
            </select><br>

            <hr>

            <button type="submit" class="editbtn">수정</button>
        </div>
    </form>
</div>
</body>
</html>