#select_member{
    float: left;
}

#change_member{
    float: right;
}

#buttons_container{
    padding: 3px;
    height: auto;
    overflow: hidden;
    margin: 10px;
    margin-top: 30px;
}


#search_container{
    padding: 3px;
    height: auto;
    overflow: hidden;
}

#search_container select{
    float: left;
    margin-right: 3px;
}

#search_container div{
    /*float: left;*/
    margin: auto;
}

#search_container div input{
    width: 70%;
}

#list_container{
    padding-right:10px;
    padding-left:10px;
}

#info_type{
    color: white;
    background-color: #111111;
}

.btn-black{
    background-color: #1d1d1d;
    color: #FFF;
}

.btn-black:hover {
    background-color: #fafafa;
    border-color: #111111;
}

#filter{
    float: left;
    padding-left: 10px;
    padding-right: 15px;
}
#search_member_div{
}
